---
title: Token
bodyClass: h-full
htmlClass: h-full
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="align-middle py-24">
          <table class="max-w-700 sm:w-full">
            <tr>
              <td align="center" class="sm:px-24">
                <table class="sm:w-full">
                  <component src="/src/components/header.html"></component>
                  <component src="/src/components/secret.html"></component>
                  <component src="/src/components/footer.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
