---
title: Token
bodyClass: h-full
htmlClass: h-full
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full h-full font-sans bg-primary-dark">
      <tr>
        <td
          align="center"
          class="align-middle bg-primary-dark py-24 px-32 sm:px-16"
        >
          <table class="w-full h-full">
            <tr class="grid">
              <td align="center" class="sm:px-24 px-16 pb-56">
                <table class="max-w-700 sm:w-full">
                  <component src="/src/components/header.html"></component>
                  <component src="/src/components/secret.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
