<table class="w-full mt-32 sm:mt-0">
  <tr class="inline">
    <td class="items-center align-middle py-16 pl-16">
      <a href="https://sealcred.xyz" class="no-underline">
        <img
          width="56"
          height="56"
          class="max-w-full align-middle [border:0]"
          src="images/logo.webp"
          alt="SealCred"
        />
      </a>
    </td>
    <td class="items-center align-middle py-16">
      <span
        class="
          font-primary font-bold
          leading-24
          text-lg text-accent
          align-middle
          ml-8
        "
      >
        SealCred
      </span>
    </td>
    <td class="items-center align-middle py-16">
      <span
        class="
          font-primary font-bold
          leading-24
          text-lg text-secondary
          align-middle
          mx-8
        "
      >
        |
      </span>
    </td>
    <td class="items-center align-middle py-16 pr-16">
      <span
        class="
          font-primary font-bold
          leading-24
          text-lg text-secondary
          align-middle
        "
      >
        work
      </span>
    </td>
  </tr>
</table>
